* {
    margin: 0px;
    padding: 0px;
}

.header>div {
    width: 100%;
    height: 70vh;
}

:hover.menu>ul>li {
    background: black;
    color: white;
}

.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    height: 10vh;
    background-color: skyblue;
}

.menu > ul > li {
    list-style: none;
    border: 1px solid #000000;
    padding: 10px 30px;
    border-radius: 5px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.aside {
    text-align: center;
}

.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    height: 100px;
    margin-top: 20px;
}